doctype
html
	head
		meta(charset="UTF-8")
		title HW5
		script(src="/js/ajax.js")
	

	body
		img(src="/images/youtube.png" height = 250 width = 500)
		h1 Top ten most popular videos on youtube in Slovakia!
		img(src="/images/flag.svg" height = 500 width = 500)
		p Top ten most popular videos on youtube of all time in slovakia just because.
		img(id="visible" src="./images/loading.gif")
		ol

